h1 {
padding: 35px;
text-align: center;
background-color: darkgoldenrod;
}

h2 {
padding: 15px;
margin: 0 auto;
text-align: center;
}

h3 {
padding: 15px;
margin: 0 auto;
text-align: center;
}

body {
background-color: beige;
}

p {
max-width: 60%; /* paragraph never gets wider than 60% of the screen */
margin: 0 auto; /* centers it horizontally */
}
